%p#notice= notice

%h3 Operadores de buses

= form_tag bus_operators_url, :method => :get do          
  %div.form_group.col-3= select :bus_operator,:criteria, options_for_select([["Nombre", "official_name"], ["Calificacion", "average_rating"]]), {:prompt => 'Ordernar por'}, { class: 'form-control', onchange: 'this.form.submit();' }

%table.table.table-bordered.table-hover
  %thead.thead-dark
    %tr
      %th.span1 Logo
      %th.span1 Nombre
      %th.span1 Calificación
      %th.span1{:colspan => "3"} Opciones

  %tbody#operatorsTable
    - @bus_operators.each do |bus_operator|
      %tr
        %td= image_tag bus_operator.icons[:medium], class: 'rounded'
        %td= bus_operator.official_name
        %td{:class => "center"}
          = image_tag "star.min.svg"
          %br
          %span.badge.badge-pill.badge-secondary= bus_operator.average_rating.to_s + " de 5.0"
        %td= link_to 'Ver <span class="oi" data-glyph="pencil"></span>'.html_safe, bus_operator
        %td= link_to 'Editar', edit_bus_operator_path(bus_operator)

= paginate @bus_operators