%h4= "Calificaciones de " + @bus_operator.official_name
= link_to 'Ver', @bus_operator

%table.table.table-striped
  %thead
    %tr
      %th.span1 #
      %th.span1 Nota
      %th.span1 Comentario      

  %tbody
    - @qualifications.each_with_index do |qual, idx|
      %tr
        %td= (idx + 1).to_s
        %td= qual[:qualification]
        %td= qual[:qualification_comment]        

= paginate @qualifications
