<!DOCTYPE html>
<html>
  <head>
    <title>Recorridos Final Lap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag '/assets/logo.png' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <p class="navbar-brand" ><img src="/assets/logo.png" style="width:50px"/></p>
      <p class="navbar-brand" ><i>Gustavo Castillo</i></p>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
